@charset "UTF-8";

body {
	background-image: url("../resources/imagens/fundo_imagem.jpg");
	background-repeat: no-repeat;
}

#login-box {
	width: 450px;
	height: 330px;
	margin: 140px auto 0px;
}

#login-box-interno {
	background-color: white;
	width: 430px;
	height: 310px;
	position: absolute;
	margin: 10px;
	box-shadow: 0px 0px 5px black;
	overflow: hidden;
}

#logomarca {
	width: 100px;
	height: 100px;
	margin: 10px auto 12px;
	margin-left: 20px;
	margin-top: 10px;
}

.logomarca img {
	max-width: 60px;
	max-height: 60px;
	width: auto;
	height: auto;
	margin: 10px auto 12px;
	margin-left: 20px;
	margin-top: 19px;
	position: absolute;
}

.logomarca-cadastro img {
	max-width: 60px;
	max-height: 60px;
	width: auto;
	height: auto;
	margin: 10px auto 12px;
	margin-left: 20px;
	margin-top: 8px;
	position: absolute;
}

.modal-box-conteudo {
	margin-top: 100px;
}

.campos-botoes {
	margin-top: 100px;
}

.input-div {
	margin: 20px;
	padding: 5px;
	background-color: #f2f5f7;
	border-radius: 3px;
}

.input-div input {
	width: 97%;
	height: 35px;
	padding-left: 5px;
	font: normal 13px sans-serif;
	color: #aeaeae;
	border-radius: 3px;
	border: 1px solid #bfc4c6;
	outline: none;
}

.input-nome-div {
	margin: 20px;
	padding: 5px;
	background-color: #f2f5f7;
	border-radius: 3px;
}

.input-nome-div input {
	width: 99%;
	height: 35px;
	padding-left: 5px;
	font: normal 13px sans-serif;
	color: #aeaeae;
	border-radius: 3px;
	border: 1px solid #bfc4c6;
	outline: none;
}

.input-nome-div:hover {
	background-color: #e0f1fc;
}

.input-nome-div:hover input {
	border-color: #7dc6dd;
}

.input-email-div {
	margin: 20px;
	padding: 5px;
	background-color: #f2f5f7;
	border-radius: 3px;
}

.input-email-div input {
	width: 99%;
	height: 35px;
	padding-left: 5px;
	font: normal 13px sans-serif;
	color: #aeaeae;
	border-radius: 3px;
	border: 1px solid #bfc4c6;
	outline: none;
}

.input-email-div:hover {
	background-color: #e0f1fc;
}

.input-email-div:hover input {
	border-color: #7dc6dd;
}

.input-nomeUsuario-div {
	margin: 20px;
	padding: 5px;
	background-color: #f2f5f7;
	border-radius: 3px;
}

.input-nomeUsuario-div input {
	width: 99%;
	height: 35px;
	padding-left: 5px;
	font: normal 13px sans-serif;
	color: #aeaeae;
	border-radius: 3px;
	border: 1px solid #bfc4c6;
	outline: none;
}

.input-nomeUsuario-div:hover {
	background-color: #e0f1fc;
}

.input-nomeUsuario-div:hover input {
	border-color: #7dc6dd;
}

.input-senha-div {
	margin: 20px;
	padding: 5px;
	background-color: #f2f5f7;
	border-radius: 3px;
}

.input-senha-div input {
	width: 99%;
	height: 35px;
	padding-left: 5px;
	font: normal 13px sans-serif;
	color: #aeaeae;
	border-radius: 3px;
	border: 1px solid #bfc4c6;
	outline: none;
}

.input-senha-div:hover {
	background-color: #e0f1fc;
}

.input-senha-div:hover input {
	border-color: #7dc6dd;
}

.input-div:hover {
	background-color: #e0f1fc;
}

.input-div:hover input {
	border-color: #7dc6dd;
}

#input-senha {
	margin-top: -10px;
}

#botoes {
	width: 310px;
	margin-left: 28px;
	font: bold 12px sans-serif;
	margin-top: 45px;
	color: white;
}

.entrar {
	color: white;
	text-decoration: none;
	background-color: #0080ff;
	padding: 7px 25px;
	margin-top: -7px;
	float: left;
}

.entrar:hover {
	color: black;
	background-color: #2491fe;
}

#novo {
	float: right;
	margin-right: -55px;
	color: black;
}

.modal {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-box {
	background: #FFF;
	width: 50%;
	height: 50%;
	padding: 20px;
	position: relative;
}

.fechar {
	padding: 5px 10px;
	position: absolute;
	top: 5px;
	background-color: #0080ff;
	color: white;
	cursor: pointer;
	right: 5px;
}

.fechar:hover {
	background-color: #2491fe;
	color: black;
}

.btn_modal {
	color: #0080ff;
}